body {
  background-color: #02E863;
}
header {
  font-family: Helvetica;
  text-align: center;
  border: 1px solid;
}
li p {
  font-style: italic;
}
section {
  text-align: left;
  font-family: sans-serif;
}
footer {
  border: 1px solid;
}
a {
  text-align: left;
}